flyway.url=jdbc:mysql://localhost:3306/<MYSQL_DATABASE>?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
flyway.user=<MYSQL_USER>
flyway.password=<MYSQL_PASSWORD>
flyway.locations=filesystem:db/migration
flyway.validateMigrationNaming=true
flyway.baselineOnMigrate=false
